a {
  color: #00B7FF;
}

.brandname {
  font-family: 'Poiret One', cursive;
  font-size: 35px !important;
}

.login {
  color: #FFF;
}

.nav {
  font-size: 11px;
  line-height: 22px;
  font-weight: 500;
  text-transform: uppercase;
}

.splash {
  margin-top: 40px;
  font-size: 20em !important;
}

.main-title{
  text-align: center;
}

.main-desc {
  text-align: center;
  font-size: 30px;
  font-family: 'Poiret One', cursive;
}
