<!DOCTYPE html>
<html ng-app="TestWise">
  <head>
    <meta charset="utf-8">
    <title>Testr</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poiret+One"/>
  </head>
  <body ng-controller="MainController as ctrl">
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header"><a class="navbar-brand brand-title brandname">Testr</a></div>
        <div style="" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active login"><a href="#" ng-click="ctrl.openLoginDialog()">Login<span class="sr-only">(current)</span></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </head>
  <body ng-controller="MainController as ctrl">
  </body>
</html>
